*{
	margin:0;
	padding:0;
}

body{
	width:100%;
	text-align:center;
	font-family: 'Merriweather', serif;
}

header{
	background-color:#A3CFD8;
}

nav{
	height:65px;
}

nav .logo{
	float:left;
	padding: 25px 0 0 150px;
	font-weight:bold;
	font-size:15px;
}

nav img{
	-webkit-transform:scale(1.5);
	vertical-align:middle;
}

nav span{
	padding:0 10px;
	color:#394848;
}

nav ul{
	float: right;
    padding: 25px 115px 0 0;
    font-weight: bold;
    font-size: 12px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

nav li{
	display:inline-block;
	padding-right: 35px;
}

nav a{
	text-decoration:none;
	color: #394848;
}

nav a:active{
	background-color: #3B444A;
    color: #A5D1DA;
    padding: 5px 15px;
    border-radius: 5px;
}

header h2{
	color: white;
    display: inline-block;
    padding: 70px 100px 0 0;
    font-size: 26px;
}

.monitor{
	-webkit-transform:scale(1.7);
	vertical-align:middle;
	padding: 70px 50px 85px 0;
}

.section1{
	margin-left: 90px;
	height: 325px;
}

.box{
	display: inline-block;
    line-height: 1.3em;
    float: left;
    padding: 80px 35px;
    width: 25%;
}

.box img{
	-webkit-transform:scale(2);
}

.box h4{
	padding: 35px 0 12px;
}

.box p{
	font-size:12px;
}

.section2{
	background-color:#99D2A5;
}

.section2 .texts{
	display: inline-block;
    color: white;
    padding: 30px 0;
}

.section2 li{
	display:inline-block;
	padding:30px;
}

.section2 a{
	text-decoration:none;
	color: white;
}

.section2 ul li a:hover{
	border: 2px solid white;
    padding: 5px 6px;
    border-radius: 5px;
}

.section2 p{
	font-size:10px;
	padding:10px;
}

.images img{
	-webkit-transform: scale(2);
    -webkit-filter: contrast(1.5);
}

